* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  height: 193px;
  display: flex;
  align-items: center;
  padding-left: 111px;
  font-size: 48px;
  border-bottom: solid 1px #e5e5e5;
}

.logo {
  margin-right: 65px;
}

.main.container {
  display: flex;
  justify-content: center;
  gap: 77px;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.counterbox {
  display: flex;
  align-items: center;
  gap: 56.25px;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  background-color: #5c48d3;
  border-radius: 30px;
  color: white;
  font-size: 96px;
  user-select: none;
}

.reset {
  border: none;
  width: 150px;
  height: 60px;
  background-color: #5c48d3;
  color: white;
  font-size: 32px;
  border-radius: 15px;

  cursor: pointer;
  user-select: none;
}

.addcounter {
  border: none;
  width: 250px;
  height: 60px;
  background-color: #5c48d3;
  color: white;
  font-size: 32px;
  border-radius: 15px;
  margin-top: 40px;
  cursor: pointer;
  user-select: none;
}

.plus,
.minus {
  user-select: none;
  cursor: pointer;
}

.sign {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 144px;
}

.sign span {
  font-weight: 700;
}

.hidden {
  visibility: hidden;
}

.countercontain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  align-items: center;
  gap: 30px;
  margin-bottom: 100px;
}

.counterline {
  display: flex;
  gap: 60px;
}

.counternone {
  display: none;
}
